#app{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2{
  text-align:center;
}

form{
  margin-bottom:5%;
  text-align:center;
}

button, input{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#to-do-list{
border:1px solid black;
margin: auto;
border-radius: 2%;
width:auto;
}

#to-do-list > ul {
  list-style: none;
}

#to-do-item{
  display:flex;
  padding:1%;
}

button{
width:auto;
height:1%;
margin-left:1%;
align-self: center;
}